/*elements selectors section*/
html,
body {
    height: 100%;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*id selectors section*/
#calculator-container {
    background-color: black;
    min-width: 320px;
    max-width: 40%;
    min-height: 554px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
}

#calc-display {
    width: auto;
    background-color: green;
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: 166px;
    max-height: 80%;
    margin: .3rem;
    color: white;
    font-size: 2rem;
}

#calc-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: .3rem;
}

/*class selectors section*/



.btn {
    min-height: 70px;
    max-height: 70%;
    flex-basis: 25%;
    box-sizing: border-box;
}

.equal {
    flex: 2;
}